{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="loan-header">
        <h1 class="pre-title">Loan Credit Score Prediction Model</h1>
    </div>
    <div class="row justify-content-center">
        <!--[ daily sales section ] start-->
        <div class="col-md-8 col-xl-8">
            <a href="{% url 'loan_predict' %}">
                <div class="card daily-sales choice-card btn">
                    <div class="card-block">
                        <img src="{% static 'assets/images/widget/loan.png' %}">
                        <div class="text">
                            <div class="title">
                                Predict the loan credit score
                            </div>
                            <div class="subtitle">
                                Predict the borrower credit score.<br>
                                Telling the reason.<br>
                                Giving advise.<br>
                                Recommending the banks the can accept the score.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
{#        <div class="col-md-6 col-xl-4">#}
{#            <a href="{% url 'admin:index' %}">#}
{#                <div class="card Monthly-sales choice-card btn">#}
{#                    <div class="card-block">#}
{#                        <img src="{% static 'assets/images/widget/pngwing.com.png' %}">#}
{#                        <div class="text">#}
{#                            <div class="title">#}
{#                                Complete the Test#}
{#                            </div>#}
{#                            <div class="subtitle">#}
{#                                Be yourself and answer honestly to find out your personality type.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}
{#        </div>#}
    </div>

    <div class="shape"></div>
    <div class="shape-shadow"></div>
    <!-- [ Main Content ] end -->

{% endblock content %}