{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="row justify-content-center mx-4">
        <div class="loan-header col-12">
            <h1 class="pre-title">Predict the borrower credit score</h1>
        </div>
        <form class="mt-2 col-12" action="/predict-request" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="TotalMonthlyIncomeAmount">Total Monthly Income Amount</label>
                <input class="form-control input-sm" name="TotalMonthlyIncomeAmount" type="number">
            </div>

            <hr>

            <div class="form-group">
                <label for="LoanAcquisitionActualUPBAmt">Borrow Amount</label>
                <input class="form-control" name="LoanAcquisitionActualUPBAmt" type="number">
            </div>

            <hr>

            <div class="form-group">
                <label for="NumericPropertyType">Property Type</label>
                <select class="form-control" name="NumericPropertyType">
                    <option value="1">PT01 (Single family detached)</option>
                    <option value="2">PT02 (Deminimus PUD)</option>
                    <option value="3">PT03 (Single family attached)</option>
                    <option value="4">PT04 (Two family)</option>
                    <option value="5">PT05 (Townhouse)</option>
                    <option value="6">PT06 (Low-rise condo)</option>
                    <option value="7">PT07 (Condo)</option>
                    <option value="8">PT08 (Duplex)</option>
                    <option value="9">PT09 (Three family)</option>
                    <option value="10">PT10 (Four family)</option>
                    <option value="11">PT11 (Hi-res condo)</option>
                    <option value="12">PT12 (Large Hi-res condo)</option>
                    <option value="13">PT13 (Manufactured home chattel)</option>
                    <option value="14">PT14 (Five plus multifamily)</option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label for="PropertyUnitCount">Property Unit Count</label>
                <select class="form-control" name="PropertyUnitCount">
                    <option value="1">1 Unit</option>
                    <option value="2">2 Units</option>
                    <option value="3">3 Units</option>
                    <option value="4">4 Units</option>
                    <option value="5">5 Units</option>
                    <option value="6">6 Units</option>
                    <option value="7">7 Units</option>
                    <option value="8">8 Units</option>
                    <option value="9">9 Units</option>
                    <option value="10">10 Units</option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label for="FIPSStateNumericCode">State Code</label>
                <select class="form-control" name="FIPSStateNumericCode">
                    <option value="10">Delaware</option>
                    <option value="11">District of Columbia</option>
                    <option value="12">Florida</option>
                    <option value="13">Geogia</option>
                    <option value="15">Hawaii</option>
                    <option value="16">Idaho</option>
                    <option value="17">Illinois</option>
                    <option value="18">Indiana</option>
                    <option value="19">Iowa</option>
                    <option value="20">Kansas</option>
                    <option value="21">Kentucky</option>
                    <option value="22">Louisiana</option>
                    <option value="23">Maine</option>
                    <option value="24">Maryland</option>
                    <option value="25">Massachusetts</option>
                    <option value="26">Michigan</option>
                    <option value="27">Minnesota</option>
                    <option value="28">Mississippi</option>
                    <option value="29">Missouri</option>
                    <option value="30">Montana</option>
                    <option value="31">Nebraska</option>
                    <option value="32">Nevada</option>
                    <option value="33">New Hampshire</option>
                    <option value="34">New Jersey</option>
                    <option value="35">New Mexico</option>
                    <option value="36">New York</option>
                    <option value="37">North Carolina</option>
                    <option value="38">North Dakota</option>
                    <option value="39">Ohio</option>
                    <option value="40">Oklahoma</option>
                    <option value="41">Oregon</option>
                    <option value="42">Pennsylvania</option>
                    <option value="44">Rhode Island</option>
                    <option value="45">South Carolina</option>
                    <option value="46">South Dakota</option>
                    <option value="47">Tennessee</option>
                    <option value="48">Texas</option>
                    <option value="49">Utah</option>
                    <option value="50">Vermont</option>
                    <option value="51">Virginia</option>
                    <option value="53">Washington</option>
                    <option value="54">West Virginia</option>
                    <option value="55">Wisconsin</option>
                    <option value="56">Wyoming</option>
                    <option value="01">Alabama</option>
                    <option value="02">Alaska</option>
                    <option value="04">Arizona</option>
                    <option value="05">Arkansas</option>
                    <option value="06">California</option>
                    <option value="08">Colorado</option>
                    <option value="09">Connecticut</option>
                </select>
            </div>

            <hr>

            <div class="form-group d-none">
                <label for="CensusTractMedFamIncomeAmount">Census Tract Median Family Income Amount</label>
                <input class="form-control input-lg" name="CensusTractMedFamIncomeAmount" type="text" value="0">
            </div>

            <hr>

            <div class="form-group">
                <label for="LTVRatioPercent">Down Payment</label>
                <input class="form-control input-lg" name="LTVRatioPercent" type="number">
            </div>

            <hr>

            <div class="form-group">
                <label for="ScheduledTotalPaymentCount">Payment Periods (months)</label>
                <input class="form-control input-lg" name="ScheduledTotalPaymentCount" type="number">
            </div>

            <hr>

            <div class="form-group">
                <label for="NoteRatePercent">Interest rate</label>
                <select class="form-control" name="NoteRatePercent">
                    <option value="1">1%</option>
                    <option value="2">2%</option>
                    <option value="3">3%</option>
                    <option value="4">4%</option>
                    <option value="5">5%</option>
                    <option value="6">6%</option>
                    <option value="7">7%</option>
                    <option value="8">8%</option>
                    <option value="9">9%</option>
                    <option value="10">10%</option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label for="TotalDebtExpenseRatioPercent">Current Debt Expense Per Month</label>
                <input class="form-control input-lg" name="TotalDebtExpenseRatioPercent" type="number">
            </div>

            <hr>

            <div class="form-group">
                <label for="HousingExpenseRatioPercent">Other Housing Expense</label>
                <input class="form-control input-lg" name="HousingExpenseRatioPercent" type="number">
            </div>

            <hr>

            <div class="form-group">
                <label for="Borrower1AgeAtApplicationYears">Borrower Age</label>
                <input class="form-control input-lg" name="Borrower1AgeAtApplicationYears" type="number">
            </div>

            <hr>

            <div class="form-group">
                <button type="submit" class="btn btn-primary rounded-pill d-block m-auto">Submit & Predict</button>
            </div>
        </form>
    </div>
{% endblock content %}